@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../App.css'); /* TODO: Remove Legacy css */

body {
    margin: 0;
}

dialog::backdrop {
    backdrop-filter: blur(3px);
}

@layer utilities {
    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-riverbed-950 text-riverbed-50;
    }

    .focused-input-shadow {
        box-shadow:
                0 0 0 0.1rem rgba(252, 206, 79, 0.5),
                inset rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .focused-input-error {
        box-shadow:
                0 0 0 0.1rem rgba(237, 55, 38, 0.5),
                inset rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .input-shadow {
        box-shadow: inset rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .button-shadow {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .button-shadow-disabled {
        box-shadow: inset rgba(0, 0, 0, 0.15) 3px 3px 6px;
    }
    .focused-button-shadow {
        box-shadow: 0 0 0 0.2rem rgba(252, 206, 79, 0.5);
    }
    .focused-danger-button-shadow {
        box-shadow: 0 0 0 0.2rem rgba(237, 55, 38, 0.5);
    }
}
