.Transactions__Totals {
  display: flex;
  background-color: var(--gray2);
  box-sizing: border-box;
  font-size: 32px;
  height: 160px;
  padding: 15px 15px 0;
  transition:
    font-size 350ms,
    height 200ms,
    visibility 350ms;
  visibility: visible;
  width: 100%;
}

.Transactions__Totals.inactive > div > div {
  border: none !important;
}

.Transactions__Totals.inactive {
  font-size: 0;
  height: 0;
  padding: 0 15px;
  transition:
    font-size 0ms,
    height 0ms,
    visibility 0ms;
  visibility: hidden;
}

.Transactions__Totals__Items {
  width: 30%;
}

.Transactions__Totals__Items > div {
  height: 48px;
}
.Transactions__Totals__Numbers {
  text-align: right;
  width: 70%;
}

.Transactions__Totals__Numbers > div {
  height: 48px;
}

.Transactions__Totals__Numbers div:nth-last-child(2) {
  border-bottom: 1px solid var(--white);
}

.Transactions__Totals__Numbers__In {
  color: var(--green);
}

.Transactions__Totals__Numbers__Out {
  color: var(--red);
}

@media screen and (min-width: 481px) {
  .Transactions__Totals {
    font-size: 33px;
    max-width: var(--max-container-size);
  }
}
