.MenuItem {
  align-items: center;
  display: flex;
  flex-direction: row;
  color: var(--white);
  text-decoration: none;
  height: 41px;
  padding: 15px 20px;
}

.MenuItem.selected {
  pointer-events: none;
}

.MenuItem > :first-child {
  font-size: 40px;
}

.MenuItem > p {
  font-size: 25px;
  font-weight: 900;
  padding-left: 25px;
}

.MenuItem:hover {
  background-color: var(--gray1);
}
.MenuItem.selected > * {
  color: var(--yellow);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .MenuItem {
    flex-direction: column;
    justify-content: center;
    padding: 15px 0 5px;
    height: 70px;
  }

  .MenuItem > p {
    font-size: 12px;
    font-weight: 400;
    padding: 0;
  }
}
