# compiled output
node_modules
dist
dist-ssr
count.txt
.nitro
.tanstack
.output
.vinxi
routeTree.gen.ts

# OS
.DS_Store

# Tests

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# environment variable files
*.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
