// Tones obtained using: http://mcg.mbitson.com/

$contrast-dark: #0f0f0b;
$contrast-light: #f2f2f3;
$background: #1f242e;

$outer-space: (
  50: #e8e9eb,
  100: #c6c8cd,
  200: #a0a4ac,
  300: #7a808a,
  400: #5e6471,
  500: #414958,
  600: #3b4250,
  700: #323947,
  800: #2a313d,
  900: #1c212d,
  A100: #749bff,
  A200: #4177ff,
  A400: #0e53ff,
  A700: #0045f3,
  contrast: (
    50: $contrast-dark,
    100: $contrast-dark,
    200: $contrast-dark,
    300: $contrast-light,
    400: $contrast-light,
    500: $contrast-light,
    600: $contrast-light,
    700: $contrast-light,
    800: $contrast-light,
    900: $contrast-light,
    A100: $contrast-dark,
    A200: $contrast-light,
    A400: $contrast-light,
    A700: $contrast-light,
  ),
);

$cream: (
  50: #fff8e9,
  100: #ffefc8,
  200: #ffe4a3,
  300: #ffd97e,
  400: #ffd063,
  500: #ffc847,
  600: #ffc240,
  700: #ffbb37,
  800: #ffb42f,
  900: #ffa720,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffebcf,
  A700: #ffe0b6,
  contrast: (
    50: $contrast-dark,
    100: $contrast-dark,
    200: $contrast-dark,
    300: $contrast-dark,
    400: $contrast-dark,
    500: $contrast-dark,
    600: $contrast-dark,
    700: $contrast-dark,
    800: $contrast-dark,
    900: $contrast-light,
    A100: $contrast-dark,
    A200: $contrast-dark,
    A400: $contrast-dark,
    A700: $contrast-dark,
  ),
);

$lime: (
  50: #f4fbe7,
  100: #e4f5c3,
  200: #d2ee9c,
  300: #c0e774,
  400: #b3e156,
  500: #a5dc38,
  600: #9dd832,
  700: #93d32b,
  800: #8ace24,
  900: #79c517,
  A100: #fbfff7,
  A200: #e3ffc4,
  A400: #ccff91,
  A700: #c0ff78,
  contrast: (
    50: $contrast-dark,
    100: $contrast-dark,
    200: $contrast-dark,
    300: $contrast-dark,
    400: $contrast-dark,
    500: $contrast-dark,
    600: $contrast-dark,
    700: $contrast-dark,
    800: $contrast-dark,
    900: $contrast-dark,
    A100: $contrast-dark,
    A200: $contrast-dark,
    A400: $contrast-dark,
    A700: $contrast-dark,
  ),
);

$strawberry: (
  50: #fde7e5,
  100: #fac3be,
  200: #f69b93,
  300: #f27367,
  400: #f05547,
  500: #ed3726,
  600: #eb3122,
  700: #e82a1c,
  800: #e52317,
  900: #e0160d,
  A100: #ffffff,
  A200: #ffdad9,
  A400: #ffa8a6,
  A700: #ff8f8c,
  contrast: (
    50: $contrast-dark,
    100: $contrast-dark,
    200: $contrast-dark,
    300: $contrast-dark,
    400: $contrast-dark,
    500: $contrast-light,
    600: $contrast-light,
    700: $contrast-light,
    800: $contrast-light,
    900: $contrast-light,
    A100: $contrast-dark,
    A200: $contrast-dark,
    A400: $contrast-dark,
    A700: $contrast-dark,
  ),
);

$gold-yellow: (
  50: #fef6e0,
  100: #fee9b3,
  200: #fddb80,
  300: #fccd4d,
  400: #fbc226,
  500: #fab700,
  600: #f9b000,
  700: #f9a700,
  800: #f89f00,
  900: #f69000,
  A100: #ffffff,
  A200: #fff5ea,
  A400: #ffddb7,
  A700: #ffd29d,
  contrast: (
    50: $contrast-dark,
    100: $contrast-dark,
    200: $contrast-dark,
    300: $contrast-dark,
    400: $contrast-dark,
    500: $contrast-dark,
    600: $contrast-dark,
    700: $contrast-light,
    800: $contrast-light,
    900: $contrast-light,
    A100: $contrast-dark,
    A200: $contrast-dark,
    A400: $contrast-dark,
    A700: $contrast-dark,
  ),
);
