@import url('../../App.css');

.Settings {
  display: flex;
  justify-content: center;
  margin: 30px 13px;
}

.Settings__Container {
  background-color: var(--black);
  border-radius: 20px;
  width: 100%;
}

.Settings__Card {
  padding: 0 20px;
}

.Settings__Card:hover {
  background-color: var(--gray1);
}

.Settings__Card:not(:first-child) > div {
  border-top: 2px solid var(--yellow);
}

.Settings__Card__Main {
  font-size: 19pt;
  font-weight: 600;
  line-height: 1.5;
  padding: 12px 0;
}

.Settings__EditName__Modal__Text {
  padding: 10px;
}

.ManageUsers {
  background-color: var(--gray1);
  border-radius: 20px;
  padding: 5px 0;
}

.ManageUsers__UserCard {
  align-items: center;
  display: flex;
  font-size: 25px;
  font-weight: 700;
  margin: 15px 15px;
}

.ManageUsers__UserCard:not(:first-child) {
  border-top: 2px solid var(--yellow);
  padding-top: 15px;
}

.ManageUsers__AddFloat {
  position: absolute;
  z-index: 1;
  bottom: 40px;
  right: 25px;
}

.UserForm__FirstRow {
  display: flex;
}

@media screen and (min-width: 769px) {
  .Settings {
    margin: 30px 25px;
  }

  .Settings__Container {
    width: auto;
    min-width: 70%;
  }

  .Settings__Card {
    cursor: pointer;
  }
}
