@use './styles/core.scss' as core;
@use './styles/themes/gold-night.scss' as theme;

:root {
  background-color: theme.$background;
  color: theme.$text-light;
}

div.container {
  width: 450px;
  padding: 50px;
}
div.container {
  background-color: theme.$container;
}

button {
  border: 0;
  width: 80px;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  margin-right: 20px;
}

button {
  background-color: core.get-palette-hue(theme.$gold-yellow, 500);
  color: core.get-palette-hue-contrast(theme.$gold-yellow, 500);
}
button:hover {
  background-color: core.get-palette-hue(theme.$gold-yellow, 400);
}

button.success {
  background-color: core.get-palette-hue(theme.$lime, 500);
  color: core.get-palette-hue-contrast(theme.$lime, 500);
}
button.success:hover {
  background-color: core.get-palette-hue(theme.$lime, 400);
}

button.error {
  background-color: core.get-palette-hue(theme.$strawberry, 500);
  color: core.get-palette-hue-contrast(theme.$strawberry, 500);
}
button.error:hover {
  background-color: core.get-palette-hue(theme.$strawberry, 400);
}

button.warning {
  background-color: core.get-palette-hue(theme.$cream, 500);
  color: core.get-palette-hue-contrast(theme.$cream, 500);
}
button.warning:hover {
  background-color: core.get-palette-hue(theme.$cream, 400);
}

webclient-root {
  z-index: 1;
}
webclient-toast,
.toast-class {
  z-index: 2000;
}
