@use 'sass:map';
@use './styles/themes/gold-night/index' as theme;
@use 'libs/shared/ui/themes' as core;

// Components ---------------------------
@use 'libs/desktop/toasts/ui/theme' as toaster;
// @use 'libs/shared/ui/input/theme' as inputs;
// @use 'libs/shared/ui/checkbox/theme' as checkbox;
// @use 'libs/shared/ui/button/theme' as buttons;
@use 'libs/desktop/login/ui/theme' as login;
@use 'libs/desktop/navbar/ui/theme' as navbar;
// --------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800;900&display=swap');

:root {
  font-family: 'Raleway', serif;
}

// Core
@include core.color(theme.$gold-night-theme);
// Components -----------------------------------------
// @include buttons.color(theme.$gold-night-theme);
// @include checkbox.color(theme.$gold-night-theme);
// @include inputs.color(theme.$gold-night-theme);
// Features --------------------------------------------
@include navbar.color(theme.$gold-night-theme);
@include toaster.color(theme.$gold-night-theme);
// Pages -----------------------------------------------
@include login.color(theme.$gold-night-theme);

webclient-root {
  z-index: 1;
}

body {
  margin: 0;
}
