@use 'sass:map';
@use './styles/themes/gold-night/index' as theme;
@use 'libs/desktop/core/ui-theme' as core;

// Components ---------------------------
@use 'libs/desktop/core/ui-toast/theme' as toasts;
@use 'libs/desktop/shared/ui-input/theme' as inputs;
@use 'libs/desktop/shared/ui-checkbox/theme' as checkbox;
@use 'libs/desktop/shared/ui-button/theme' as buttons;
@use 'libs/desktop/feature-login/ui/theme' as login;
@use 'libs/desktop/core/feature-navbar/theme' as navbar;
@use 'libs/desktop/core/ui-navbar-item/theme' as navbar-items;
// --------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800;900&display=swap');

:root {
  font-family: 'Raleway', serif;
}

// Core
@include core.color(theme.$gold-night-theme);
// Components -----------------------------------------
@include buttons.color(theme.$gold-night-theme);
@include checkbox.color(theme.$gold-night-theme);
@include inputs.color(theme.$gold-night-theme);
@include toasts.color(theme.$gold-night-theme);
@include navbar-items.color(theme.$gold-night-theme);
// Features --------------------------------------------
@include navbar.color(theme.$gold-night-theme);
// Pages -----------------------------------------------
@include login.color(theme.$gold-night-theme);

webclient-root {
  z-index: 1;
}

body {
  margin: 0;
}
