.WalletForm__Main {
  border-bottom: 2px solid var(--yellow);
}

.WalletForm__Main__FirstRow {
  display: flex;
  align-items: center;
}

.WalletForm__Main__FirstRow__Icon {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.WalletForm__Main__FirstRow__Name {
  margin-left: 20px;
  flex: 1;
}

.WalletForm__Main__SecondRow {
  display: flex;
}

.WalletForm__Main__SecondRow__Money {
  flex-basis: 65%;
}

.WalletForm__Main__SecondRow__Currency {
  flex-basis: 35%;
}

.WalletForm__Delete {
  align-items: center;
  border-radius: 15px;
  display: flex;
  font-size: 24px;
  font-weight: 900;
  height: 48px;
  justify-content: center;
  margin: 60px 0;
  width: 100%;
}

.WalletForm__Delete__Icon {
  font-size: 22px;
  margin-right: 5px;
  line-height: 1.1;
}

.WalletForm__Subwallets__Title {
  font-size: 26px;
  font-weight: 900;
  padding: 10px 0;
}

.WalletForm__Subwallets__Container {
  background-color: var(--black);
  border-radius: 20px;
}

.WalletForm__Subwallets__Add {
  align-items: center;
  border-radius: 0 0 20px 20px;
  color: var(--gray3);
  display: flex;
  font-size: 18px;
  padding: 15px 20px;
  height: 25px;
}

.WalletForm__Subwallets__Add:hover {
  background-color: var(--gray1);
}

.WalletForm__Subwallets__Add.alone:hover {
  border-radius: 20px;
}

.WalletForm__Subwallets__Add__Icon {
  font-size: 25px;
  line-height: 0.7;
  padding-right: 10px;
}

.WalletForm__Subwallets__Unassigned {
  border-bottom: 2px solid var(--yellow);
  color: var(--white);
  font-weight: 700;
  margin: 0 20px;
  padding: 20px 5px 12px 5px;
}

.SubWalletCard {
  padding: 0 20px;
}

.SubWalletCard:hover {
  background-color: var(--gray1);
}

.SubWalletCard__Main {
  align-items: center;
  border-bottom: 2px solid var(--yellow);
  display: flex;
  padding: 12px 0;
}

.SubWalletCard__Icon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.SubWalletCard__Info {
  padding-left: 12px;
  font-weight: 600;
  font-size: 16px;
  max-width: calc(100% - 50px);
}

.SubWalletCard__Info__Name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.SubWalletCard__Info__Money {
  font-size: 11pt;
  display: flex;
  color: var(--gray2);
}

.SubWalletCard__Info__Money > div.negative {
  color: var(--red);
}

@media screen and (min-width: 481px) {
  .WalletForm {
    padding: 0 2.5%;
  }
  .WalletForm__Main__FirstRow__Icon {
    height: 70px;
    width: 70px;
  }

  .WalletForm__Main__FirstRow__Name {
    margin-left: 30px;
  }

  .WalletForm__Main__SecondRow__Money {
    flex-basis: 80%;
  }

  .WalletForm__Main__SecondRow__Currency {
    flex-basis: 20%;
  }

  .WalletForm__Subwallets__Container {
    background-color: var(--black);
    border-radius: 20px;
  }

  .WalletForm__Subwallets__Add {
    padding: 15px 30px;
    height: 35px;
  }

  .WalletForm__Subwallets__Unassigned {
    margin: 0 30px;
    padding: 25px 5px 20px 5px;
  }

  .SubWalletCard {
    padding: 0 30px;
  }

  .SubWalletCard__Main {
    padding: 20px 0;
  }

  .SubWalletCard__Icon {
    height: 45px;
    width: 45px;
  }

  .SubWalletCard__Info {
    padding-left: 15px;
    font-size: 18px;
    max-width: calc(100% - 60px);
  }

  .SubWalletCard__Info__Money {
    font-size: 13pt;
  }
}
