/** <%= name %>.component.ts
 * Copyright (c) <%= year %>, Towechlabs
 *
 *  <%= description %>
 */
 // Libraries
import { ChangeDetectionStrategy, Component } from '@angular/core';

@Component({
  changeDetection: ChangeDetectionStrategy.OnPush,
  standalone: true,
  selector: 'finance-<%= fullName.join('-') %>',
  template: `<p><%= compName %>Component works</p>`,
})
export class <%= compName %>Component {}
