.Transactions__MonthSelector {
  background-color: var(--black);
  border-bottom: none;
  border-radius: 20px 20px 0 0;
  margin-top: 30px;
  width: 100%;
}

.Transactions__MonthSelector__Top {
  display: flex;
  justify-content: space-between;
}

.Transactions__MonthSelector__Button:hover {
  background-color: transparent;
}

.Transactions__MonthSelector__Button {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
}

.Transactions__MonthSelector__Button.selected {
  color: var(--yellow);
}

.Transactions__MonthSelector__GoTo {
  border: 0;
  border-radius: 0;
  font-weight: 900;
  font-size: 0;
  float: right;
  height: 0px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0px;
  transition:
    top 350ms,
    height 200ms,
    visibility 350ms;
  visibility: hidden;
  width: 100%;
}

.Transactions__MonthSelector__GoTo.active {
  font-size: inherit;
  height: 40px;
  top: 0;
  transition:
    top 350ms,
    height 200ms,
    visibility 350ms;
  padding: inherit;
  visibility: visible;
}

@media screen and (min-width: 481px) {
  .Transactions__MonthSelector {
    max-width: var(--max-container-size);
  }

  .Transactions__MonthSelector__Button {
    font-size: 22px;
  }

  .Transactions__MonthSelector__GoTo.active {
    font-size: 19px;
  }
}
