.WalletCard {
  padding: 0 20px;
}

.WalletCard__Main {
  align-items: center;
  display: flex;
  padding: 12px 0;
}

.WalletCard:hover {
  background-color: var(--gray1);
}

.WalletCard:not(:first-child) > div {
  border-top: 2px solid var(--yellow);
}

.WalletCard__Icon {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.WalletCard__Info {
  display: inline-grid;
  font-size: 24pt;
  font-weight: 900;
  max-width: calc(100% - 80px);
  padding-left: 16px;
}

.WalletCard__Info__Name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.WalletCard__Info__Money {
  font-size: 14pt;
  display: flex;
  color: var(--gray2);
}

.WalletCard__Info__Money > div.negative {
  color: var(--red);
}

@media screen and (min-width: 481px) {
  .WalletCard {
    padding: 0 30px;
  }

  .WalletCard__Main {
    padding: 24px 0;
  }

  .WalletCard__Icon {
    height: 70px;
    width: 70px;
  }
}

@media screen and (min-width: 769px) {
  .WalletCard {
    cursor: pointer;
  }
}
